.navbar {
  width: 100%;
  background-color: hsla(0, 0%, 93%, 0.911);

  .navbar-container {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin: auto 20px;

    .navbar-search {
      width: 95%;
      background-color: hsla(0, 0%, 93%, 0.911);
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      //   padding: 20px;
      .search-button {
        border: none;
        font-size: 18px;
        background-color: transparent;
        cursor: pointer;
      }
      .search {
        padding: 14px;
        width: 100%;
        background-color: hsla(0, 0%, 93%, 0.911);
        border: none;
        outline: none;
      }
    }
    .navbar-button {
      padding: 14px;
      background-color: hsl(239, 100%, 61%);
      color: hsl(0, 0%, 100%);
      border: none;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: hsla(239, 100%, 61%, 0.808);
      }
    }
    .navbar-avatar {
      font-size: 2rem;
    }

    li {
      list-style-type: none;
      padding: 0px 4px;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }
  }
}
